html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(#f2f4ff 0%, #fbfcff 100%);

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}

button{
  cursor: pointer;
  outline: none;
}
.transition {
  transform: translateX(0) !important;
  transition: transform 0.5s ease-out;
}


.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
@media (max-width:848px){
  .container {
    align-items: flex-end;
  }
}